/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}


/* Body background */

body {
    background: #e2e2e2;
}

.grad {
    background: #0fb8ad;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #0fb8ad, #36b8e9);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0fb8ad, #36b8e9);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right#0fb8ad, #36b8e9);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0fb8ad, #36b8e9);
    /* Standard syntax */
    color: #323232;
}


/* Display block */

header,
footer,
main,
canvas {
    display: block;
}


/* HTML5 icons color */

.fa-html5 {
    color: #f16528;
}


/* Text class size and color */

.text {
    font-size: 24px;
    color: #323232;
}


/* Form colors, size and margin */

.form {
    background: #9fd0fb;
    color: #222222;
    font-size: 22px;
    margin-bottom: 20px;
    border-radius: 5px;
}


/* Style canvas */

#canvas {
    border: 3px solid #000;
    margin: 20px auto;
    border-radius: 22px;
    background: #ccc;
    margin-bottom: 40px;
}